<header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <a href="{{ site.baseurl }}" style="text-decoration: none; color: white"><span class="mdl-layout-title">Homepage</span></a>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ site.baseurl }}archive/">Archive</a>
            <a class="mdl-navigation__link" href="{{ site.baseurl }}about/">About</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">MENU</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}archive/">Archive</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}about/">About</a>
    </nav>
</div>